.weather-content {
    min-height: 100vh;
    /* width: 100%; */
    padding: 10px;
    background-color: var(--light-gray);
    overflow-y: hidden;
}

#forecastTableDiv{
    max-height: 50vh;
    overflow-y: auto;
    width: 80%;
    margin: 20px auto;
    border: 5px solid var(--blue);
    scrollbar-color: var(--blue) var(--light-gray);
    padding: 0;
}

#forecastTable{
    text-align: left;
    background: none !important;
}

#forecastTable tr{
    vertical-align: middle;
    cursor: pointer;
}

#forecastTable p{
    margin:0;
}

#forecastTable > tbody > tr:nth-child(4n+1) > td{

    background-color: var(--blue) !important;
    color: var(--light-gray) !important;

}
#forecastTable > tbody > tr:nth-child(4n+2) > td{

    background-color: var(--green) !important;
    color:var(--blue) !important;
}

#forecastTable > tbody > tr:nth-child(4n+3) > td{

    background-color: var(--pink) !important;
    color: var(--light-gray) !important;
}
#forecastTable > tbody > tr:nth-child(4n+4) > td{

    background-color: var(--yellow) !important;
    color: var(--blue) !important;
}
#forecastTable td{
    color: var(--dark-gray) !important;
}

.selected{
    border: 5px solid var(--light-gray) !important;
    font-weight: bold;
}

