body {
  margin: 0;
  /* font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important; */
  font-family: 'Italiana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#F7D89A, #F7D89A);
/*

    /* background-attachment: fixed; */
    text-align: center !important;
}

h1, h2, h3, h4, h5 {
  /* font-family: 'Italiana', sans-serif; */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important;

}
